In [1]:
from datetime import datetime
import pandas as pd
import numpy as np

In [2]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')

ts = pd.Series(np.random.randn(len(rng)), index=rng)

tsts.resample('M').mean()

2000-01-01   -0.497569
2000-01-02    0.257398
2000-01-03   -0.043434
2000-01-04   -0.132677
2000-01-05   -0.590192
2000-01-06    1.191975
2000-01-07   -0.413933
2000-01-08    0.706605
2000-01-09    2.694364
2000-01-10   -0.932797
2000-01-11    0.389827
2000-01-12   -0.974288
2000-01-13    1.801719
2000-01-14   -0.179777
2000-01-15   -0.481498
2000-01-16    0.460164
2000-01-17   -0.381329
2000-01-18   -0.032269
2000-01-19   -1.220398
2000-01-20   -0.203542
2000-01-21    0.349406
2000-01-22   -0.635240
2000-01-23    1.494514
2000-01-24    1.070907
2000-01-25   -1.439380
2000-01-26   -1.528639
2000-01-27    0.871956
2000-01-28    1.552545
2000-01-29   -0.883787
2000-01-30   -1.986892
                ...
2000-03-11   -0.339444
2000-03-12   -0.387738
2000-03-13   -1.752217
2000-03-14   -0.393020
2000-03-15    0.970690
2000-03-16    0.445142
2000-03-17    0.406717
2000-03-18   -0.372714
2000-03-19    0.468175
2000-03-20   -0.595942
2000-03-21   -0.182712
2000-03-22    0.286689
2000-03-23    1.027280
2000-03-24   -0.669836
2000-03-25    1.423281
2000-03-26   -1.305457
2000-03-27    1.265735
2000-03-28   -1.018281
2000-03-29   -0.475914
2000-03-30    0.592365
2000-03-31   -0.050647
2000-04-01    0.285436
2000-04-02   -0.579365
2000-04-03    0.159853
2000-04-04   -0.502143
2000-04-05   -0.426836
2000-04-06    0.151201
2000-04-07    1.384328
2000-04-08    1.744211
2000-04-09   -1.869732
Freq: D, Length: 100, dtype: float64

In [3]:
ts.resample('M').mean()

2000-01-31    0.015597
2000-02-29   -0.250034
2000-03-31   -0.073814
2000-04-30    0.038550
Freq: M, dtype: float64

# 降采样

In [4]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [5]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

# OHLC重采样

# 升采样和插值

# 通过时期进行重采样