In [4]:
from datetime import datetime
import pandas as pd
import numpy as np

dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

ts = pd.Series(np.random.randn(6), index=dates)

ts

2011-01-02   -0.191919
2011-01-05   -1.532274
2011-01-07    1.211122
2011-01-08    0.209808
2011-01-10    0.921376
2011-01-12   -0.980913
dtype: float64

In [5]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [7]:
ts + ts[::2] #ts[::2] 是每隔两个取一个。

2011-01-02   -0.383839
2011-01-05         NaN
2011-01-07    2.422243
2011-01-08         NaN
2011-01-10    1.842752
2011-01-12         NaN
dtype: float64

In [8]:
ts.index.dtype

dtype('<M8[ns]')

In [9]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

# 索引、选取、子集构造

In [10]:
stamp = ts.index[2]

In [11]:
stamp

Timestamp('2011-01-07 00:00:00')

In [12]:
ts[stamp]

1.211121743249616

In [13]:
 ts['1/10/2011']

0.92137614880242047

In [14]:
ts['20110110']

0.92137614880242047

In [15]:
longer_ts = pd.Series(np.random.randn(1000),
                       index=pd.date_range('1/1/2000', periods=1000))

longer_ts

2000-01-01    0.146257
2000-01-02   -0.746507
2000-01-03   -0.936632
2000-01-04   -1.261095
2000-01-05   -0.158545
2000-01-06   -0.432506
2000-01-07    0.656878
2000-01-08   -0.176964
2000-01-09    0.058015
2000-01-10   -1.034301
2000-01-11   -1.813172
2000-01-12    0.510091
2000-01-13   -0.697087
2000-01-14    1.719008
2000-01-15   -0.636038
2000-01-16   -1.306403
2000-01-17    0.498114
2000-01-18    0.041419
2000-01-19   -0.024225
2000-01-20   -0.379889
2000-01-21   -0.967863
2000-01-22    0.951319
2000-01-23    3.056467
2000-01-24   -0.396022
2000-01-25   -0.694427
2000-01-26    0.280055
2000-01-27    0.832859
2000-01-28    0.833868
2000-01-29    0.159106
2000-01-30   -0.061889
                ...
2002-08-28    2.045290
2002-08-29    0.878125
2002-08-30   -0.383989
2002-08-31   -0.551787
2002-09-01   -1.023107
2002-09-02   -1.340817
2002-09-03    0.758069
2002-09-04    0.595440
2002-09-05    0.311928
2002-09-06   -1.497454
2002-09-07    0.847406
2002-09-08   -0.538604
2002-09-09   -2.899351
2002-09-10    1.086459
2002-09-11    0.407175
2002-09-12    0.995823
2002-09-13   -0.350752
2002-09-14   -0.428537
2002-09-15   -1.710907
2002-09-16    0.130304
2002-09-17   -1.615399
2002-09-18   -0.231752
2002-09-19   -0.236341
2002-09-20   -0.110980
2002-09-21   -0.021918
2002-09-22    0.309622
2002-09-23   -3.400408
2002-09-24    1.512928
2002-09-25    0.094656
2002-09-26    1.210086
Freq: D, Length: 1000, dtype: float64

In [16]:
longer_ts['2001-05']

2001-05-01   -1.766065
2001-05-02   -0.263063
2001-05-03   -0.666934
2001-05-04   -1.231676
2001-05-05   -0.475472
2001-05-06    0.465111
2001-05-07    1.193463
2001-05-08    0.017362
2001-05-09    0.171993
2001-05-10    1.532049
2001-05-11    0.415367
2001-05-12   -1.349429
2001-05-13   -0.209501
2001-05-14   -0.675421
2001-05-15   -0.715755
2001-05-16    1.159932
2001-05-17   -1.772986
2001-05-18   -0.091468
2001-05-19   -0.521642
2001-05-20    1.143532
2001-05-21   -0.599984
2001-05-22    0.764009
2001-05-23    0.916960
2001-05-24   -0.421523
2001-05-25    0.058358
2001-05-26    0.124625
2001-05-27    1.058124
2001-05-28    1.298122
2001-05-29    0.733945
2001-05-30    0.589512
2001-05-31    0.218271
Freq: D, dtype: float64

In [17]:
longer_ts['2001']

2001-01-01    0.724777
2001-01-02   -1.121745
2001-01-03   -1.205103
2001-01-04    0.384350
2001-01-05    0.676552
2001-01-06    1.451911
2001-01-07    1.530257
2001-01-08   -1.054096
2001-01-09   -0.271614
2001-01-10   -1.463364
2001-01-11   -1.140776
2001-01-12   -0.350502
2001-01-13   -0.386560
2001-01-14    0.356542
2001-01-15   -1.425273
2001-01-16    1.048568
2001-01-17   -1.733616
2001-01-18    0.619197
2001-01-19   -0.840468
2001-01-20   -1.482493
2001-01-21    0.487566
2001-01-22   -0.435726
2001-01-23    1.150275
2001-01-24   -0.011008
2001-01-25    0.039883
2001-01-26    0.710060
2001-01-27    0.123721
2001-01-28   -0.799226
2001-01-29   -0.014557
2001-01-30   -0.671087
                ...
2001-12-02    0.215858
2001-12-03    0.336042
2001-12-04   -1.056905
2001-12-05    0.504478
2001-12-06   -1.980842
2001-12-07    0.414335
2001-12-08   -0.643939
2001-12-09   -0.586696
2001-12-10   -1.017420
2001-12-11   -0.140262
2001-12-12    1.195975
2001-12-13   -0.177117
2001-12-14    0.390763
2001-12-15    1.392500
2001-12-16   -0.547385
2001-12-17    0.935908
2001-12-18   -1.176016
2001-12-19    0.974167
2001-12-20    1.601087
2001-12-21   -0.680676
2001-12-22    0.484139
2001-12-23    1.276879
2001-12-24   -0.363897
2001-12-25   -1.374039
2001-12-26   -0.264871
2001-12-27   -0.660484
2001-12-28   -1.635175
2001-12-29   -0.819379
2001-12-30    1.539175
2001-12-31    0.041898
Freq: D, Length: 365, dtype: float64

In [18]:
ts[datetime(2011, 1, 7):]

2011-01-07    1.211122
2011-01-08    0.209808
2011-01-10    0.921376
2011-01-12   -0.980913
dtype: float64

In [19]:
ts

2011-01-02   -0.191919
2011-01-05   -1.532274
2011-01-07    1.211122
2011-01-08    0.209808
2011-01-10    0.921376
2011-01-12   -0.980913
dtype: float64

In [20]:
ts['1/6/2011':'1/11/2011']

2011-01-07    1.211122
2011-01-08    0.209808
2011-01-10    0.921376
dtype: float64

In [21]:
 ts.truncate(after='1/9/2011')

2011-01-02   -0.191919
2011-01-05   -1.532274
2011-01-07    1.211122
2011-01-08    0.209808
dtype: float64

In [22]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])

long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.639002  0.827230 -0.838075 -0.542302
2001-05-09  0.250158  1.534791  1.216634 -2.082446
2001-05-16  0.075799 -0.303102  0.036309 -0.015722
2001-05-23 -0.901805 -0.477886  2.125948  0.849853
2001-05-30 -0.424995 -0.845450 -0.353667 -0.867298

# 带有重复索引的时间序列

In [23]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)

dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [24]:
dup_ts.index.is_unique

False

In [25]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [26]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [27]:
grouped.max()

2000-01-01    0
2000-01-02    3
2000-01-03    4
dtype: int32