In [1]:
import pandas as pd
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])
cities = pd.DataFrame({ 'City name': city_names, 'Population': population })
print('----------column-----------------')
print (type(cities['City name']))
print('----------column City name-----------------')
print(cities['City name'])
print('----------column Population-----------------')
print(cities['Population'])
print('----------value: Line and Column-----------------')
print (type(cities['City name'][1]))
print(cities['City name'][1])
print('----------DataFrame:Table-----------------')
print (type(cities[0:2]))
print(cities[0:2])
print('---------cities[0:1]------------------')
print(cities[0:1])
print('---------cities------------------')
print(cities)
print('---------cities.head------------------')
print(cities.head(2))
print('----------population / 1000-----------------')
print(population / 1000)

----------column-----------------
<class 'pandas.core.series.Series'>
----------column City name-----------------
0    San Francisco
1         San Jose
2       Sacramento
Name: City name, dtype: object
----------column Population-----------------
0     852469
1    1015785
2     485199
Name: Population, dtype: int64
----------value: Line and Column-----------------
<class 'str'>
San Jose
----------DataFrame:Table-----------------
<class 'pandas.core.frame.DataFrame'>
       City name  Population
0  San Francisco      852469
1       San Jose     1015785
---------cities[0:1]------------------
       City name  Population
0  San Francisco      852469
---------cities------------------
       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199
---------cities.head------------------
       City name  Population
0  San Francisco      852469
1       San Jose     1015785
----------population / 1000-----------------
0     852.469
1    1015.785
2     485.199
dtype: float64