In [1]:
import pymssql
# pip install pymssql-2.1.3-cp36-cp36m-win_amd64.whl
print ("start:")
conn = pymssql.connect(host='.',user='sa',password='sql',database='Test', charset="GBK")
# conn = pymssql.connect('127.0.0.1','sa','sql','Test')
print ("connected!")

cur=conn.cursor()
cur.execute('select top 5 * from [dbo].[S]')
#如果update/delete/insert记得要conn.commit()#否则数据库事务无法提交
print (cur.fetchall())

cur.close()
conn.close()

start:
connected!
[('201215121', '李勇                ', 20, '男'), ('201215122', '刘晨                ', 19, '女'), ('201215123', '王敏                ', 18, '女'), ('201215125', '张立                ', 19, '男')]