In [42]:
import pymssql
# pip install pymssql

print ("start:")
conn = pymssql.connect(host='.',user='sa',password='sql',database='Test', charset="GBK")
# 要启动TCP/IP协议：https://blog.csdn.net/a873744779/article/details/90640946
# conn = pymssql.connect('127.0.0.1','sa','sql','Test')
print ("connected!")

cur=conn.cursor()
cur.execute('select top 5 * from [dbo].[Student]')
#如果update/delete/insert记得要conn.commit()#否则数据库事务无法提交
print ('\n-------全部输出--------')
print (cur.fetchall())

print ('\n-------取出每一行，按格式输出--------')

try:
    sql = 'select top 5 * from [dbo].[Student]'
    cursor = conn.cursor()
    cursor.execute(sql)# 执行SQL语句       
    results = cursor.fetchall()# 获取所有记录列表
    # print (results) #打印
    for row in results:
        MYsno = row[0]
        MYsname = row[1]
        MYsex = row[2]
        MYage = row[3]
        MYsdept = row[4] 
        print ("sno=%s | sname=%s | sex=%s | age=%d | sdept=%s"%(MYsno, MYsname.strip(), MYsex, MYage, MYsdept.strip() ))# 打印结果
except:
    print ("Error: unable to fetch data")
finally:
    print ("End of try")
cur.close()
cursor.close()
conn.close()

start:
connected!

-------全部输出--------
[('201215121', '李勇                ', '男', 20, 'CS                  '), ('201215122', '刘晨                ', '女', 19, 'CS                  '), ('201215123', '王敏                ', '女', 18, 'MA                  '), ('201215125', '张立                ', '男', 19, 'IS                  '), ('201215128', '陈冬                ', '男', 20, 'IS                  ')]

-------取出每一行，按格式输出--------
sno=201215121 | sname=李勇 | sex=男 | age=20 | sdept=CS
sno=201215122 | sname=刘晨 | sex=女 | age=19 | sdept=CS
sno=201215123 | sname=王敏 | sex=女 | age=18 | sdept=MA
sno=201215125 | sname=张立 | sex=男 | age=19 | sdept=IS
sno=201215128 | sname=陈冬 | sex=男 | age=20 | sdept=IS
End of try