In [4]:
from sqlalchemy import create_engine
import pandas as pd

In [10]:
db = create_engine('sqlite:///mydata1.sqlite')
pd.read_sql('select * from test', db)

Empty DataFrame
Columns: [a, b, c, d]
Index: []