# 列表

### 列表可以修改，而字符串和元组不能。

In [1]:
a = [66.25, 333, 333, 1, 1234.5]

In [2]:
print(a.count(333), a.count(66.25), a.count('x'))

2 1 0

In [3]:
a.insert(2, -1)
a.append(333)
a

[66.25, 333, -1, 333, 1, 1234.5, 333]

In [4]:
a.index(333)

1

In [5]:
a.remove(333)
a

[66.25, -1, 333, 1, 1234.5, 333]

In [6]:
a.reverse()
a

[333, 1234.5, 1, 333, -1, 66.25]

In [7]:
a.sort()
a

[-1, 1, 66.25, 333, 333, 1234.5]

### 将列表当做堆栈使用

In [8]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [9]:
stack.pop()

7

In [10]:
stack

[3, 4, 5, 6]

### 将列表当作队列使用

In [11]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [12]:
queue.popleft()

'John'

In [13]:
queue

deque(['Michael', 'Terry', 'Graham'])

### 列表推导式

In [15]:
vec = [2, 4, 6]
[[x, x**2] for x in vec]

[[2, 4], [4, 16], [6, 36]]

In [18]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]
#Python strip() 方法用于移除字符串头尾指定的字符（默认为空格）

['banana', 'loganberry', 'passion fruit']

In [19]:
[3*x for x in vec if x > 3]

[12, 18]

In [20]:
vec1 = [2, 4, 6]
vec2 = [4, 3, -9]
[x*y for x in vec1 for y in vec2]

[8, 6, -18, 16, 12, -36, 24, 18, -54]

In [21]:
[vec1[i]*vec2[i] for i in range(len(vec1))]

[8, 12, -54]

In [23]:
[str(round(355/113, i)) for i in range(1, 6)]
#round() 方法返回浮点数x的四舍五入值。

['3.1', '3.14', '3.142', '3.1416', '3.14159']

### 嵌套列表解析

In [24]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [25]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [26]:
 [[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [27]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

### del 语句

In [28]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]

In [29]:
a

[1, 66.25, 333, 333, 1234.5]

# 元组和序列

# 集合

In [30]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # 删除重复的

{'banana', 'orange', 'apple', 'pear'}

False

In [31]:

'orange' in basket                 # 检测成员

True

In [32]:

'crabgrass' in basket

False

In [33]:
a = set('abracadabra')
b = set('alacazam')
a                                  # a 中唯一的字母

{'a', 'b', 'c', 'd', 'r'}

In [34]:
a - b

{'b', 'd', 'r'}

In [35]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [36]:
a & b

{'a', 'c'}

In [37]:
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

# 字典

In [38]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [39]:
 list(tel.keys())

['jack', 'sape', 'guido']

In [40]:
sorted(tel.keys())

['guido', 'jack', 'sape']

In [41]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [42]:
dict(sape=4139, guido=4127, jack=4098)

{'guido': 4127, 'jack': 4098, 'sape': 4139}

## 遍历技巧

In [43]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, ':',v)

gallahad : the pure
robin : the brave

In [44]:
for i, v in enumerate(['tic', 'tac', 'toe']):
     print(i, v)

0 tic
1 tac
2 toe

In [45]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [46]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [47]:
questions=['name','quest','favorite color']
answers=['qinshihuang','the holy','blue']
for q,a in zip(questions,answers):
    print('what is your %s? it is %s' %(q,a))

what is your name? it is qinshihuang
what is your quest? it is the holy
what is your favorite color? it is blue

# end